<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmute.shopeeapp">
    <!-- Truy cập bộ sưu tập -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopeeApp">
        <activity
            android:name=".activity.user.SearchResult"
            android:exported="false" />
        <activity
            android:name=".activity.user.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".activity.user.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activity.user.ChangeLanguage"
            android:exported="true" />
        <activity
            android:name=".activity.user.CartDetails"
            android:exported="true" />
        <activity
            android:name=".activity.user.BillHistory"
            android:exported="true" />
        <activity
            android:name=".activity.user.AccountSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.user.AccountInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.admin.AdminRoleActivity"
            android:exported="true" />
        <activity
            android:name=".activity.admin.AdminStoreActivity"
            android:exported="true" />
        <activity
            android:name=".activity.admin.ProductImageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.admin.AdminDiscountActivity"
            android:exported="true" />
        <activity
            android:name=".activity.admin.AdminProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>